body {
    background-color: #FFFFFF;
}
/* #path {
    fill: blue;
    stroke: green;
    stroke-width: 4;
    stroke-miterlimit: 10;
} */


.charts {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.graphs {
    margin-left: 50%;
}